<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matriculaap"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.matriculaap.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.matriculaap.MainPorResidencia"
            android:label="@string/title_activity_main_por_residencia" >
        </activity>
        <activity
            android:name="com.example.matriculaap.MainPorPeriodoEstadis"
            android:label="@string/title_activity_main_por_periodo_estadis" >
        </activity>
        <activity
            android:name="com.example.matriculaap.MainPorResidenciaEstadis"
            android:label="@string/title_activity_main_por_residencia_estadis" >
        </activity>
        <activity
            android:name="com.example.matriculaap.MainPorFacultades"
            android:label="@string/title_activity_main_por_facultades" >
        </activity>
        <activity
            android:name="com.example.matriculaap.MainPorFacultadesEstadis"
            android:label="@string/title_activity_main_por_facultades_estadis" >
        </activity>
        <activity
            android:name="com.example.matriculaap.MainPorEscuelas"
            android:label="@string/title_activity_main_por_escuelas" >
        </activity>
        <activity
            android:name="com.example.matriculaap.MainPorEscuelasEstadis"
            android:label="@string/title_activity_main_por_escuelas_estadis" >
        </activity>
        <activity
            android:name="com.example.matriculaap.MainBaseMenu"
            android:label="@string/title_activity_main_base_menu" >
        </activity>
        <activity
            android:name="com.example.matriculaap.MainEnProceso"
            android:label="@string/title_activity_main_en_proceso" >
        </activity>
    </application>

</manifest>
